@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Monoton', cursive;
  overflow: hidden;
}

body {
  background: rgb(242, 228, 0);
  padding: 0;
  margin: 0;
}

main, aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: max(5vw, 3rem);
  transition: font-size ease-in-out 1s;
}

h1.large {
  font-size: 15vw;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul#board {
  --size: 3;
  display: grid;
  grid-template-columns: repeat(var(--size), 1fr);
  grid-template-rows: repeat(var(--size), 1fr);
  width: 50vmin;
  height: 50vmin;
  font-size: calc(0.5rem + 30vmin / var(--size));
}

li.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: rgb(242, 228, 0);
  text-shadow: 2px 2px 2px rgb(242, 228, 0, 0.5);
}

li.cell:nth-of-type(odd) {
  background: rgb(148, 9, 189);
}

li.cell:nth-of-type(even) {
  background: rgb(189, 9, 138);
}

button {
  font-family: 'Squada One', cursive;
  border: none;
  box-shadow: 2px 2px 2px rgba(148, 9, 189, 0.5);
  font-size: 4rem;
  cursor: pointer;
}

.hidden {
  /* I try never to use !important */
  display: none !important;
}

.fade-in {
  animation: fade-in 1s ease-in-out;
}

.fade-out {
  animation: fade-in 1s ease-in-out reverse;
}

.spin {
  animation: spin 1s ease-in-out reverse;
}

.tilt {
  animation: tilt 1s ease-in-out;
  transform: perspective(60vh) rotateX(60deg);
}

.flash {
  animation: flash 0.5s ease-in-out 5;
}

.font-grow {
  animation: font-grow 1s ease infinite alternate;
}

p#display {
  height: 2rem;
  font-size: 2rem;
}

@keyframes fade-in {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes tilt {
  from {
    transform: none;
  }
  to {
    transform: perspective(60vh) rotateX(60deg);
  }
}

@keyframes flash {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

@keyframes font-grow {
  from {
    font-size: 0.75em;
  }
  to {
    font-size: 1.5em;
  }
}

/* parallax 80s effect */

body:after{
  content: '';
  display: block;
  background-image: linear-gradient(90deg,
      rgba(252,25,154,.3) 1px,
      rgba(0,0,0,0) 2px),
    linear-gradient(0deg,
      rgba(252,25,154,.3) 1px,
      rgba(0,0,0,0) 2px);
  background-repeat: repeat;
  background-size: 20px 20px;
  position: absolute;
  pointer-events: none;
  bottom: 0;
  overflow: hidden;
  /* sizing properties here are very brittle */
  height: 1000vh;
  width: 600vw;
  background-position: top;
  transform: perspective(100vh) rotateX(60deg);
  left: -250vw; /* half width -100vw to centre the background */
  z-index: -1;
  transform-origin: bottom center;
}

header {
  background: rgb(148, 9, 189);
  margin: 0;
  padding: 0.25rem;
  width: 100vw;
}

header ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

header button {
  background: yellow;
  font-size: 1rem;
}

.team-list,
.settings {
  display: flex;
  flex-direction: column;
  font-family: 'Squada One', cursive;
}

.team-list div,
.settings li {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  align-items: stretch;
  margin-bottom: 0.5rem;
}

.settings li > label,
.settings li > input {
 flex-basis: 50%;
}
.settings li > input {
 min-width: 0;
 text-align: center;
}

form input,
form button,
form label {
  font-size: calc(1rem + 3vmin);
  font-family: 'Squada One', cursive;
}

form input {
  background: none;
  border: none;
  border-bottom: 0.25rem solid rgb(189, 9, 138);
}

fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delete {
  display: inline;
}